h1{
    padding-top: 50px;
    text-align: center;
    margin-bottom: 20px;
}
h3{
    text-align: center;
    padding-top: 50px;
}
main{
    margin-right: 70px;
    margin-left: 70px;
}
th{
    text-align: center;
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
td{
    text-align: center;
}
li{
    list-style-type: none;
    font-size: 18px;
    text-align: center;
}
.elementos{
    text-align: center;
}
#delete{
    margin-left: 50px;
}
#borrar{
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 20px;
}
input{
    text-align: center;
}
#volver{
    margin-left: 670px;
}