h1{
    padding-top: 50px;
    text-align: center;
    margin-bottom: 20px;
}
h3{
    text-align: center;
    padding-top: 50px;
}
p{
    font-size: 15px;
    font-style: oblique;
}
main{
    margin-left: 70px;
    margin-right: 70px;
}
th{
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#delete-all{
    font-style: oblique;
    text-align: center;
    padding-top: 40px;
}

#new-post{
    font-style: oblique;
    text-align: center;
    padding-top: 45px;
}

#create{
    border-width: 3px;
    border-style: solid;
    border-color: darkslateblue;
    height: 40px;
}
.createData{
    margin-bottom: 15px;
}

#tabla{
    width: 100px;
    margin-left: 400px;
    text-align: center;
}